
<div class="panel panel-primary" style="margin:20px;">
	<div class="panel-heading">
        	<h3 class="panel-title">Add Default</h3>
	</div>
<div class="panel-body">
    <form>
<div class="col-md-12 col-sm-12">
	<div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">ID Studies*</label>
	      <input type="text" value="Not Yet"  class="form-control input-sm" id="mobile" readonly>
	</div>
    <div class="form-group col-md-6 col-sm-6">
            <label for="mobile">Progress*</label>
            <input type="text" value="New"  class="form-control input-sm" id="mobile" readonly>
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="email">Default Date*</label>
            <input type="date" class="form-control input-sm datepicker" id="email" placeholder="">
        </div>
        
	<div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Alignment*</label>
	      <select class="form-control input-sm" id="years">
		<option>Oui</option>
		<option>Non</option>
		
	      </select>
	</div>
    <div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Position thickness*</label>
	      <select class="form-control input-sm" id="years">
		
		<option>Inferior</option>
		<option>Superior</option>
		<option>Mass</option>
	      </select>
	</div>
     <div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Position Edge*</label>
	      <select class="form-control input-sm" id="years">
		
		<option>Left Edge</option>
		<option>Right Edge</option>
		<option>ribbon</option>
	      </select>
	</div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="city">Left Edge Position*</label>
            <input type="text" class="form-control input-sm" id="city" placeholder="IRIS">
        </div>
        <div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">AG3</label>
	      <select class="form-control input-sm" id="years">
	
		<option>Oui</option>
		<option>Non</option>
	      </select>
	</div>
    <div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">AG4</label>
	      <select class="form-control input-sm" id="years">
	
		<option>Oui</option>
		<option>Non</option>
	      </select>
	</div>
    <div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Barrage*</label>
	      <select class="form-control input-sm" id="years">
	
		<option>Oui</option>
		<option>Non</option>
	      </select>
	</div>
    <div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Class Default*</label>
	      <select class="form-control input-sm" id="years">
	
		<option>1</option>
		<option>2</option>
        <option>3</option>
		<option>4</option>
	      </select>
	</div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="state">Diagnosis FACTORY*</label>
            <input type="text" class="form-control input-sm" id="state" placeholder="Antares">
        </div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="country">Color*</label>
            <input type="text" class="form-control input-sm" id="country" placeholder="IRIS">
        </div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="pincode">Thickness*</label>
            <input type="text" class="form-control input-sm" id="pincode" placeholder="IRIS">
        </div>
		
</div>
<div class="col-md-12 col-sm-12">
	<div class="form-group col-md-3 col-sm-3 pull-right" >
			<input type="submit"  (click)="gohome()" class="btn btn-primary" value="Submit"/>
	</div>
</div>
</form>
</div>
