
<div class="panel panel-primary" style="margin:20px;">
	<div class="panel-heading">
        	<h3 class="panel-title">Add Crisis</h3>
	</div>
<div class="panel-body">
    <form>
<div class="col-md-12 col-sm-12">
	<div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Crisis Nature*</label>
	      <select class="form-control input-sm" id="years">
		<option>Crise</option>
		<option>Hors-crise</option>
		<option>DBN</option>
	      </select>
	</div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="email">Start Date*</label>
            <input type="date" class="form-control input-sm datepicker" id="email" placeholder="">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="mobile">Progress*</label>
            <input type="text" value="New"  class="form-control input-sm" id="mobile" readonly>
        </div>
	<div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">SPecial Event*</label>
	      <select class="form-control input-sm" id="years">
		<option>Oui</option>
		<option>Non</option>
		
	      </select>
	</div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="city">Delta Loss Max*</label>
            <input type="text" class="form-control input-sm" id="city" placeholder="IRIS">
        </div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="state">Delta Loss Average*</label>
            <input type="text" class="form-control input-sm" id="state" placeholder="IRIS">
        </div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="country">ScreenShot Antares*</label>
            <input type="file" class="form-control input-sm" id="country" placeholder="Picture">
        </div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="pincode">Crisis Context*</label>
            <input type="text" class="form-control input-sm" id="pincode" placeholder="">
        </div>
		<div class="form-group col-md-6 col-sm-6">
            <label for="pincode">Date Event Crisis</label>
            <input type="date" class="form-control input-sm datepicker" id="pincode" placeholder="">
        </div>
		<div class="form-group col-md-6 col-sm-6">
            <label for="pincode">Comment DTI</label>
            <input type="text" class="form-control input-sm" id="pincode" placeholder="">
        </div>

	<div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Families Defects</label>
	      <select class="form-control input-sm" id="years">
		
		<option>Pierres</option>
		<option>Larmes</option>
		<option>ondes</option>
		<option>Bulles</option>
	      </select>
	</div>
	
	<div class="form-group col-md-6 col-sm-6">
            <label for="arrival">Comment Usine</label>
            <input type="text" class="form-control input-sm " id="arrival" placeholder="">
        </div>
		<div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Reference Crisis</label>
	      <select class="form-control input-sm" id="years">
	
		<option>Oui</option>
		<option>Non</option>
	      </select>
	</div>
	<div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Crisis Memory</label>
	      <select class="form-control input-sm" id="years">
	
		<option>Oui</option>
		<option>Non</option>
	      </select>
	</div>
		
		<div class="form-group col-md-6 col-sm-6">
            <label for="arrival">Crisis Mother</label>
            <input type="text" class="form-control input-sm" id="arrival" placeholder="">
        </div>
</div>
<div class="col-md-12 col-sm-12">
	<div class="form-group col-md-3 col-sm-3 pull-right" >
			<input type="submit"  (click)="gohome()" class="btn btn-primary" value="Submit"/>
	</div>
</div>
</form>
</div>
