
<div class="panel panel-primary" style="margin:20px;">
	<div class="panel-heading">
        	<h3 class="panel-title">Add Lot</h3>
	</div>
<div class="panel-body">
    <form>
<div class="col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="mobile">Progress*</label>
            <input type="text" value="New"  class="form-control input-sm" id="mobile" readonly>
        </div>
	<div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Centre Analyse*</label>
	      <select class="form-control input-sm" id="years">
		<option>SGR</option>
		
		
	      </select>
	</div>
    <div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Level of emergency*</label>
	      <select class="form-control input-sm" id="years">
		
		<option>Normal</option>
		<option>Urgent</option>
		
	      </select>
	</div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="city">Emergency comment*</label>
            <input type="text" class="form-control input-sm" id="city" placeholder="">
        </div>
         <div class = "form-group col-md-6 col-sm-6">
		<label for="pincode">Billing*</label>
	      <select class="form-control input-sm" id="years">
		
		<option>Usine</option>
		<option>R&D</option>
		
	      </select>
	</div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="state">DTI priority*</label>
            <input type="text" class="form-control input-sm" id="state" placeholder="">
        </div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="country">Parcel number</label>
            <input type="text" class="form-control input-sm" id="country" placeholder="">
        </div>
	
</div>
<div class="col-md-12 col-sm-12">
	<div class="form-group col-md-3 col-sm-3 pull-right" >
			<input type="submit"  (click)="gohome()" class="btn btn-primary" value="Submit"/>
	</div>
</div>
</form>
</div>
